/* xxxxxxxxxxxxxxxxxxxxxx */
/* -------- TEAM -------- */
/* xxxxxxxxxxxxxxxxxxxxxx */

/* You'll just have to: */
/* 1 - in this css file, write the number of images line 33 */
/* 2 - in js file, fill the array 'imgs' whith the image's path */

/* team container */

@font-face {
    font-family: text;
    src: url(fonts/Montserrat/static/Montserrat-Light.ttf);
}

#team{

    /* you can change the dimensions */
    /* ----------------------------- */
    width: 50%;
    /* ----------------------------- */
    
    display: flex;
    justify-content: space-between;

    /* border: solid 1px rgba(0, 0, 0, 0.675);
    box-shadow: 5px 5px 10px  rgba(0, 0, 0, 0.518); */
}

/* team */

.divlook{
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-sizing: border-box;
    transform-origin: center;
    transition: 0.1s ease;
    border: solid rgba(255, 255, 255, 0.79) 2px;

}
#right_arrow, #left_arrow{
    width: 5%;
    min-width: 12px;
}
#right_arrow{
    background: url(./imgs/right.png) center/contain no-repeat;
}
#left_arrow{
    background: url(./imgs/left.png) center/contain no-repeat;
}

#texts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 44vw;
    margin-top: 4%;
}
#text1, #text2, #dash{
    /* font-weight: bold; */
    font-family: text, sans-serif;
    color: rgb(247, 247, 226);
    text-align: center;
    font-size: calc(0.2rem + 1vw);
}
#text2{
    color: rgb(172, 172, 165);
}
#dash{
    margin: 0px 8px;
}

